<?xml version="1.0" encoding="utf-8"?>
<!--
Copyright (C) 2016 ScorpicSavior

This file is part of NinNinUplink.

NinNinUplink is free software: you can redistribute it and/or modify
it under the terms of the GNU General Public License as published by
the Free Software Foundation, either version 3 of the License, or
(at your option) any later version.

NinNinUplink is distributed in the hope that it will be useful,
but WITHOUT ANY WARRANTY; without even the implied warranty of
MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE.  See the
GNU General Public License for more details.

You should have received a copy of the GNU General Public License
along with NinNinUplink.  If not, see <http://www.gnu.org/licenses/>.
-->
<configuration>
    <configSections>
        <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
            <section name="NinNinUplink.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
        </sectionGroup>
    </configSections>
    <startup>
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5" />
    </startup>
  <runtime>
    <assemblyBinding xmlns="urn:schemas-microsoft-com:asm.v1">
      <dependentAssembly>
        <assemblyIdentity name="System.Reactive.Linq" publicKeyToken="31bf3856ad364e35" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-2.1.30214.0" newVersion="2.1.30214.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="System.Reactive.Interfaces" publicKeyToken="31bf3856ad364e35" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-2.1.30214.0" newVersion="2.1.30214.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="System.Reactive.Core" publicKeyToken="31bf3856ad364e35" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-2.1.30214.0" newVersion="2.1.30214.0" />
      </dependentAssembly>
    </assemblyBinding>
  </runtime>
  <userSettings>
    <NinNinUplink.Properties.Settings>
      <setting name="ApiKey" serializeAs="String">
        <value />
      </setting>
      <setting name="BaseAddress" serializeAs="String">
        <value>http://nin-nin.daijoubu.rocks</value>
      </setting>
      <setting name="MainWindowLocation" serializeAs="String">
        <value>50, 50</value>
      </setting>
      <setting name="MainWindowSize" serializeAs="String">
        <value>350, 130</value>
      </setting>
      <setting name="GamePath" serializeAs="String">
        <value />
      </setting>
    </NinNinUplink.Properties.Settings>
  </userSettings>
</configuration>
